* {
  /*   border: solid 1px black; */
  font-family: "微軟正黑體", sans-serif;
}
body {
  padding: 50px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  background-color: #02afff;
  color: rgba(255, 255, 255, 0.95);
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
}

/* 複寫區 */
ul {
  padding: 0;
  list-style: none;
}
h2 {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
}
h2:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 8px;
  background-color: #ff7168;
  margin-left: 10px;
}
h4 {
  margin: 0;
  font-size: 20px;
  margin-top: 40px;
  font-weight: 800;
}
a {
  color: white;
  text-decoration: none;
}
hr {
  border: none;
  border-bottom: solid 4px #ff7168;
  width: 40%;
  margin-left: 0;
}

.resume {
  display: -webkit-box;
  display: flex;
  max-width: 950px;
  border: solid 8px white;
  padding: 50px;
  position: relative;
}
.left {
  -webkit-box-flex: 5;
          flex: 5;
}
.right {
  -webkit-box-flex: 7;
          flex: 7;
}
.left,
.right {
  padding: 15px;
}
.left {
  padding-right: 50px;
  border-right: solid 1px #7168;
}
.right {
  padding-left: 50px;
  padding-top: 150px;
}

.decoration {
  width: 300px;
  height: 140px;
  background: linear-gradient(135deg, #ff5f5f, #ffffae);
  border-radius: 70px 0px 0px 70px;
  position: absolute;
  right: 0;
  top: 50px;
}

.listExperience > li {
  display: -webkit-box;
  display: flex;
  margin-bottom: 10px;
}
.listExperience > li:nth-child(1) ul {
  border-color: #ff7168;
}
.listExperience > li:nth-child(2) ul {
  border-color: #ffa582;
}
.listExperience > li:nth-child(3) ul {
  border-color: #ffb087;
}
.listExperience > li:nth-child(4) ul {
  border-color: #ffde9e;
}
.listExperience li ul {
  padding-left: 10px;
  margin-left: 10px;
  border-left: solid 4px white;
}

/* list skill */
.listSkill {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.listSkill li {
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
}
.circle {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 113, 104, 0.3);
}
.circle:after {
  content: "";
  display: block;
  background-color: #02005b;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.p90,
.p180,
.p270,
.p360 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: #ff7168;
}
.p180 {
  top: 50%;
}
.p270 {
  left: 0;
  top: 50%;
}
.p360 {
  left: 0;
  top: 0;
}
/* list program */

.listProgram .bar {
  width: 150px;
  height: 10px;
  border: solid 2px #ff7168;
  border-radius: 5px;
}
.listProgram li {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding-top: 10px;
}
.value {
  height: 100%;
  width: 60%;
  background-color: #ff7168;
}
.value.p10 {
  width: 10%;
}
.value.p20 {
  width: 20%;
}
.value.p30 {
  width: 30%;
}
.value.p40 {
  width: 40%;
}
.value.p50 {
  width: 50%;
}
.value.p60 {
  width: 60%;
}
.value.p70 {
  width: 70%;
}
.value.p80 {
  width: 80%;
}
.value.p90 {
  width: 90%;
}
.value.p100 {
  width: 100%;
}

.btn {
  border: solid 3px #ff7168;
  padding: 5px 20px;
  margin-right: 10px;
}
.fill {
  background-color: #ff7168;
}